.loader {
    display: inline-block;
    transform: translateZ(1px);
}
    .loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
    0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
    transform: rotateY(0deg);
    }
    50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
    transform: rotateY(3600deg);
    }
}

body{
    background-color: rgb(235, 235, 235);
}

h1 {
    text-align: center;
    font-style:initial;
    margin: 1rem;
}

h2 {
    text-align: center;
    font-style:initial;
    margin: 1rem;
}

a{
    color: black;
    margin: 1rem;
}

/*         Index             */

.cards_container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 2rem 2rem;
    padding: 1.5rem 1rem 2rem 1.5rem;
    
}






/*            Jokes   */

.joke_container{
    text-align: center;
}

.jokes{
    margin: 3rem;
}
.setup{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.punch_line{
    display: block;
}

.answer{
    display: none;
}

/* Details  */

.item_container{
    display: block;
    text-align: center;
}





/*      contact form          */


.contact_form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 1px black soild;
    margin: auto;
    width: 700px;
    padding: 2rem;
    background-color: white;
}
label {
    font-weight: 550;
}

#name, #email, #address{
    margin: 5px;
    padding: 5px;
}

.name_container, .email_container, .address_container {
    text-align: center;
    margin: 8px 0;
}

.contact_sumbit{
    align-self: center;
    width: 100px;
    height: 28px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

input {
    width: 300px;
    padding: 4px 0;
}


.name_error{
    display: none;
    color: red;
}
.email_error{
    display: none;
    color: red;
}
.address_error{
    display: none;
    color: red;
}